.fancy-btn{
    color: blueviolet;
    background-color: azure;
}
.main-heading{
    color: cyan;
    background-color: brown;
    font-size: 35px;
}
.secondary-heading{
    color:blueviolet;
    background-color: bisque;
    font-size: 25px;
}